# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

*.png
*.pth
*.ckpt
UI_recognition/BangUINet.pth
UI_recognition/change_img_title.py

song_recognition/feature_vectors.json

temp.py
tmp.py
tempCodeRunnerFile.py
bangcheater/libs/
bangcheater/obj/
bangcheater/jni/src/minitouch.c
minitouch
minitouch/
