# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

*.png
# !UI_recognition/BangUINet_train_imgs/*.png
UI_recognition/BangUINet.pth
UI_recognition/change_img_title.py

temp.py
tmp.py
tempCodeRunnerFile.py
bangcheater/libs/
bangcheater/obj/
bangcheater/jni/src/minitouch.c
minitouch
minitouch/