# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

*.png
*.pth
*.ckpt
UI_recognition/BangUINet.pth
UI_recognition/change_img_title.py

song_recognition/feature_vectors.json
commands.json
commands.sheet

temp.py
tmp.py
tempCodeRunnerFile.py
bangcheater/libs/
bangcheater/obj/
bangcheater/jni/src/minitouch.c
minitouch
minitouch/

client/sample.bestdori

!kokoro.png
!kokoro(nbg).png

webui/node_modules
sheet/sheets_/

# webui
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
